<nav
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow p-3 bg-body rounded"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fake Store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!-- ...existing code... -->
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-outline-success my-2 my-sm-0"
            type="button"
            (click)="openCartModal()"
          >
            Cart({{ cart_list.length }})
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="cartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Cart Validation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="cart_list.length > 0; else emptyCart">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Qty</th>
                <th></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart_list; let i = index">
                <td>
                  <img [src]="item.img" alt="{{ item.name }}" width="50" />
                </td>
                <td>{{ item.name }}</td>
                <td>
                  {{ item.qty }}
                </td>
                <td>{{ item.total | currency : "USD" }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-primary"
                    (click)="increaseQty(i)"
                  >
                    Add
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-danger" (click)="removeItem(i)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between mt-3">
            <strong
              >Grand Total (USD):
              {{ getGrandTotalUSD() | currency : "USD" }}</strong
            >
            <strong>(KHR): {{ getGrandTotalKHR() | number }} ៛</strong>
          </div>
        </div>

        <ng-template #emptyCart>
          <p>Your cart is empty.</p>
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="checkout()"
          [disabled]="cart_list.length === 0"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
