.img-sm {
  max-width: 1000px; /* adjust the width to your liking */
  max-height: 1000px; /* adjust the height to your liking */
  object-fit: contain; /* maintain aspect ratio */
  margin: 0 auto; /* center the image */
}
.carousel-caption .d-none .d-md-block h3 p {
  color: #ffffff;
}
